@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #ffffff;
  color: #0e0e0e;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
