@import "tailwindcss";

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/googlesans/v29/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2) format('woff2');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/googlesans/v29/4UabrENHsxJlGDuGo1OIlLU94YtzCwA.woff2) format('woff2');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/googlesans/v29/4UabrENHsxJlGDuGo1OIlLV154tzCwA.woff2) format('woff2');
}

@layer base {
  body {
    @apply m-0 p-0 w-full min-h-screen bg-[#111111] text-[#EBEBEB] font-sans;
  }
}
